@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');

:root {
    --main-red: #ec7d7d;
}


body {
    font-family: 'Google Sans', sans-serif;
    height: 100vh;
    max-height: 100vh;
    width: 100vw;
    padding: 1rem;
    background-image: url('../../public/images/main-bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#app {
    font-family: 'Google Sans', sans-serif;
    height: 100vh;
    max-height: 100vh;
    width: 100vw;
}

#header {
    height: 30vh;
}

.main-red-color {
    color: var(--main-red);
}

#project-name {
    text-shadow: -1px 0 #0e7c7b, 0 1px #0e7c7b, 1px 0 #0e7c7b,
    0 -1px #0e7c7b, -8px 8px #0e7c7b, -7px 7px #0e7c7b,
    -6px 6px #0e7c7b, -5px 5px #0e7c7b, -4px 4px #0e7c7b,
    -3px 3px #0e7c7b, -2px 2px #0e7c7b, -1px 1px #0e7c7b;
    color: #ec7d7d;
    font-size: 12vh;
}

#input-form-container {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 3rem;
    height: 40vh;
}

.form-label {
    color: var(--main-red);
    font-weight: bold;
    font-size: 3vh;
    text-align: center;
}

#pages-number, #cut-margin {
    text-align: center;
    width: 15vh;
    height: 15vh;
    font-size: 3rem;
    font-weight: bold;
    opacity: 50%;
    aspect-ratio: 1;
    border: solid 1vh;
    border-radius: 20%;
}

#submit-btn {
    border: 0;
    background-color: transparent;
    width: 10vh;
    position: relative;
    z-index: 2;
    opacity: 100%;
    scale: initial;
    transition: all 200ms;
    margin: 2rem;
}

#import-btns-container {
    background-color: white;
    padding: 1rem;
    border-radius: 3rem;
}

.import-btn {
    border: 0;
    background-color: transparent;
    opacity: 100%;
    scale: 1;
    transition: all 300ms;
}

#submit-btn:hover, .import-btn:hover {
    opacity: 50%;
}

#submit-btn:active, .import-btn:active {
    opacity: 80%;
    scale: 80%;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number]::placeholder {
    opacity: 30%;
}

#submit-button-container {
    width: 15vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#explosion {
    height: 20vh;
    aspect-ratio: initial;
    position: absolute;
    z-index: 1;
    display: none;
}

#result-message-container {
    scale: 0;
    height: 40vh;
    border-radius: 3rem;
}

.done-container {
    background-image: url('../../public/images/done-bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.error-container {
    background-color: #ff65b3;
}

#form-result {
    background-color: white;
    color: var(--main-red);
    width: 60%;
    height: 60%;
    border-radius: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    text-align: center;
    opacity: 90%;
}

/*Sorry*/
#sorry-dog {
    aspect-ratio: 1;
    height: 450px;
    border-radius: 3rem;
}

#sorry-message-container {
    background: white;
    padding: 5vh;
    border-radius: 3rem;
}
